.menu_item {
    margin-bottom: .5rem;
    background-color: transparent;
    border-radius: 0;
}

.menu_item > a, .menu_item > button {
    color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    padding: .35rem 0;
    font-size: .95rem;
    transition: all .25s ease-in-out;
    width: 100%;
}

.menu_item > a > svg, .menu_item > button > svg {
    width: 24px;
    height: 24px;
    transition: all .25s ease-in-out;
}

.menu_item > a:hover, .menu_item > button:hover, .__active > a {
    border-radius: 6px;
    background-color: #FFF;
    color: var(--primary);
    padding: .35rem .7rem;
}

.menu_item:hover > a > svg, .menu_item:hover > button > svg {
    color: var(--primary);
}

.menu_item > button:disabled:hover {
    background-color: transparent;
    color: white;
}

.menu_item > a:after {
    display: none;
}
